.flooter{
	width: 100%;
	background: #262626;
	text-align: center;
}
.flooter ul{
	padding: 100px 0;
}
.flooter li{
	float: left;
	width: 25%;
}
.flooter li h4{
	font-size: 14px;
	margin: 0;
	color: white;
}
.flooter li p{
	font-size: 12px;
	color: #b9b9b9;
}
.bb{
	margin-top: -35px;
}
